@media screen and (min-width:800px) {
  .body {
    background-color: #252734;
  }

  .logonav {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 10px;
  }

  .logo {
    margin-top: 10px;
    width: 80px;
    height: 24px;
  }

  .navbar {
    background-color: #61657a;
    margin-right: 30px;

  }

  .navlist {
    padding-left: 50px;
    padding-right: 50px;
  }

  .nav-item {
    float: left;
    list-style-type: none;
  }

  .nav-link {
    display: block;
    margin: 20px;
    margin-left: 30px;
    margin-right: 30px;
    color: #ffffff;
    text-decoration: none;
  }

  .img_resume {
    width: 20%;
    margin-top: -8px;
    margin-right: 10px;
    margin-left: 20px;
    height: 25px;
  }

  .resume {
    display: block;
    margin-top: 100px;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 18px;
    padding-bottom: 18px;
    color: #514949;
    text-decoration: none;
    background-color: #ffc25c;
    border: none;
    border-radius: 20px;
    /* justify-content: center; */
  }

  /* .container-fluid {
    background-color: #61657a;
  } */

  .hero {
    display: flex;
    color: #ffffff;
  }

  .Oluwafemi {
    width: 79%;
    margin-top: -30px;
    display: flex;
  }

  .oluwafemi {
    width: 650px;
    margin-left: 70px;
    max-height: 600px;
  }

  .myname {
    margin-top: 200px;
    letter-spacing: 2px;
    margin-left: -100px;
  }

  .line {
    width: 5px;
    border-bottom: 340px solid #ffc25c;
    margin-left: 256px;
  }

  .line_socials {
    display: block;
    margin-top: -58px;
  }

  .socials {
    display: grid;
    margin-left: 230px;
  }

  .hi {
    margin-bottom: 0px;
  }

  .femi {
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .prof {
    margin-bottom: 70px;
    line-height: 35px;
  }

  .Aboutme {
    font-size: 20px;
    width: 60%;
    color: #eaebec;
    margin: auto;
    line-height: 30px;
  }

  .me {
    background-color: #333646;
    padding: 40px 40px 40px 40px;
  }

  .getoknow {
    margin-top: 70px;
    margin-bottom: -25px;
  }

  .empty {
    display: none;
  }

  .Devtools {
    color: #ffffff;
  }

  .frontend {
    background-color: #333646;
    min-width: 30%;
    margin-right: 20px;
  }

  .skills {
    display: flex;
    justify-content: center;
  }

  .htmlcss {
    margin-right: 25%;
  }

  .gitgithub {
    margin-left: 25%;
  }

  .singular {
    margin-bottom: 40px;
  }

  .others {
    background-color: #333646;
    min-width: 35%;
    margin-left: 20px;
  }

  .frontothers {
    display: flex;
    justify-content: center;
  }

  .toolslogos * {
    width: 100px;
  }

  .Recentworks {
    background-color: #252734;
  }

  .Recentworkshead {
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
    text-align: center;
  }

  .paypal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #e5e5e5;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 0.06em;
    color: #000000;
  }

  .Hurdle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #e5e5e5;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 0.06em;
    color: #000000;
  }

  .Workspicture {
    width: 600px;
    height: 378px;
    left: 206px;
    top: 4276px;
    border-radius: 50px;
  }

  .mydev {
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    color: #e5e5e5;
  }

  .experiencehead {
    color: #e5e5e5;
  }

  .Experiencebut * {
    background-color: #61657a;
    color: #e5e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .inkeeperExp {
    color: #e5e5e5;
  }

  .AllExperiences {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .Experiences {
    background-color: #333646;
  }

  .havenExp {
    color: #e5e5e5;
    display: none;
  }

  .contactcard {
    width: 500px;
    height: 400px;
    margin: auto;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    background-color: #c4c4c4;
    color: black;
  }

  .contactme {
    background-color: #252734;
  }

  #contactme {
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
    text-align: center;
  }

  .contactcard-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  .contactalltext {
    text-align: center;
    font-weight: 100;
  }

  .contactimg {
    width: 50px;
    height: 50px;
    left: 206px;
    top: 4276px;
    border-radius: 50px;
  }

  /*# sourceMappingURL=index.css.map */
}