@media screen and (max-width:799px) {
    .body {
        background-color: #031845;
        color: #ffe5b4;
    }

    .logonav {
        margin-left: 10px;
        margin-top: 20px;
        width: 30px;
        height: 20px;
    }

    .logo {
        margin-top: 10px;
        margin-left: 0px;
    }

    .navbar {
        display: none;
    }

    .hero {
        display: block;
        color: #ffe5b4;
    }

    .Oluwafemi {
        width: 100%;
        margin-top: 50px;
        display: block;
    }

    .oluwafemi {
        width: 70%;
        min-height: 150px;
        margin-left: 14.5%;
        border: solid;
        border-color: #ffe5b4;
        justify-self: center;
    }

    .myname {
        margin-top: 50px;
        letter-spacing: 2px;
        margin-left: 0px;
        text-align: center;
    }

    .hi {
        margin-bottom: 10px;
    }

    .femi {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .prof {
        margin-bottom: 70px;
        line-height: 35px;
    }

    .img_resume {
        width: 20%;
        margin-top: -6px;
        margin-right: 10%;
        margin-left: 40%;
        height: 25px;
    }

    .resume_button {
        display: flex;
        margin-top: 0px;
        margin: auto;
        padding-right: 10%;
        padding-top: 18px;
        padding-bottom: 18px;
        color: #514949;
        text-decoration: none;
        background-color: #ffa500;
        border: none;
        border-radius: 20px;
        justify-self: center;
        width: 27%;
        height: 45px;
    }

    .resume {
        display: flex;
    }

    .line {
        display: none;
    }

    .line_socials {
        display: block;
        margin-top: 30px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        padding: 20px 0px 20px 0px;
        border-radius: 30px;
        background-color: #042467;
    }

    .socials {
        display: flex;
        justify-content: space-evenly;
    }

    .socialicons {
        width: 100%;
        height: 30px;
        margin-bottom: 0px;
    }

    .empty {
        margin-top: 50px;
    }

    .Aboutme {
        font-size: 20px;
        width: 98%;
        color: #ffe5b4;
        margin: auto;
        line-height: 30px;
        border-radius: 20px;
        padding-bottom: 50px;
        padding-top: 25px;
        background-color: #042467;
        margin-bottom: 50px;
    }

    .getoknow {
        margin-bottom: -25px;
        font-size: small;
        text-align: center;
        color: #ffe5b4;
    }

    .about_me {
        text-align: center;
        color: #ffa500;
    }

    .me {
        background-color: #1f4690;
        padding: 20px 20px 10px 20px;
        border-radius: 30px;
        text-align: justify;
        color: #ffe5b4;
        font-size: 80%;
        border-radius: 0%;
        width: 80%;
        margin: auto;
    }

    .Devtools {
        margin-top: 50px;
        width: 95%;
        margin: auto;
        background-color: #042467;
        border-radius: 15px;
        padding-top: 50px;
        padding-bottom: 30px;
        margin-bottom: 60px;
    }

    .dev {
        margin-bottom: -10px;
        text-align: center;
        color: #ffe5b4;
        font-size: small;
    }

    .frontend {
        background-color: #1f4690;
        padding: 15px 20px 20px 20px;
        border-radius: 15px;
        color: #ffe5b4;
        width: 75%;
        margin: auto;
    }

    .break {
        margin-top: 20px;
    }

    .skills {
        display: flex;
        justify-content: space-around;
    }

    .devlogo {
        width: 40px;
        height: 40px
    }

    .logotext {
        margin-bottom: -1.3px;
        color: #ffc25c;
        margin-top: -05px;
    }

    .Workspicture {
        max-width: 88%;
        height: 350px;
        margin-left: 6%;
        margin-right: 6%;
    }

    .Works_hover {
        display: none;
    }

    .sub_works {
        background-color: #1f4690;
        width: 90%;
        margin: auto;
        padding-top: 10%;
        margin-top: 30px;
        border-radius: 20px;
    }

    .work_button {
        height: 50px;
        width: 100px;
        margin-top: 15px;
        margin-left: 20px;
        background-color: #051434;
        color: #ffe5b4;
        border: #ffa500 solid 1px;
    }

    .button_together {
        margin-left: 19px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:430px) {
    .img_resume {
        width: 20%;
        margin-top: -8px;
        margin-right: 10%;
        margin-left: 13%;
    }

    .resume_button {
        display: none;
    }

    .Aboutme {
        font-size: 20px;
        width: 98%;
        color: #ffe5b4;
        margin: auto;
        line-height: 30px;
        background-color: #042467;
        border-radius: 20px;
        padding-bottom: 50px;
        padding-top: 25px;
        margin-bottom: 50px;
    }

    .getoknow {
        margin-bottom: -25px;
        text-align: center;
        color: #ffe5b4;
        font-size: x-small;
    }

    .about_me {
        text-align: center;
        color: #ffa500;
    }

    .me {
        background-color: #1f4690;
        padding: 15px 20px 10px 20px;
        text-align: justify;
        color: #ffe5b4;
        font-size: 70%;
        border-radius: 0%;
        width: 80%;
        margin: auto;
    }

    .Devtools {
        width: 95%;
        margin: auto;
        background-color: #042467;
        border-radius: 15px;
        padding-top: 20px;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }

    .dev {
        margin-bottom: -10px;
        text-align: center;
        color: #ffe5b4;
        font-size: x-small;
    }

    .frontend {
        background-color: #1f4690;
        padding: 15px 20px 20px 20px;
        border-radius: 15px;
        color: #ffe5b4;
        width: 75%;
        margin: auto;
    }

    .break {
        margin-top: 50px;
    }

    .skills {
        display: flex;
        justify-content: space-around;
    }

    .devlogo {
        width: 40px;
        height: 40px
    }

    .logotext {
        margin-bottom: -1.3px;
        color: #ffc25c;
        margin-top: -05px;
    }

    .Workspicture {
        width: 90%;
        height: 230px;
        margin-left: 6%;
        margin-right: 6%;
        margin-top: 10px;
    }

    .Works_hover {
        display: none;
    }

    .sub_works {
        background-color: #1f4690;
        width: 90%;
        margin: auto;
        padding-top: 10%;
        margin-top: 30px;
        border-radius: 20px;
    }

    .work_button {
        height: 37px;
        width: 80px;
        margin-top: 10px;
        margin-left: 10px;
        background-color: #051434;
        color: #ffe5b4;
        border: #ffa500 solid 1px;
    }

    .button_together {
        margin-left: 10px;
        padding-bottom: 20px;
    }
}