@media screen and (max-width:799px) {
    .body {
        background-color: #333646;
        color: #ffe5b4;
        border: #ffa500 1px solid;
    }

    .logonav {
        margin-left: 10px;
        margin-top: 20px;
        width: 30px;
        height: 20px;
    }

    .logo {
        margin-top: 10px;
        margin-left: 0px;
    }

    .navbar {
        display: none;
    }

    #menu {
        z-index: 2;
        position: absolute;
        top: 5px;
        right: 10%;
    }

    #menu-bar {
        width: 45px;
        height: 40px;
        margin: 30px 0 20px 90%;
        cursor: pointer;
    }

    .bar {
        height: 5px;
        width: 100%;
        background-color: #ffc25c;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    #bar1 {
        transform: translateY(-4px);
    }

    #bar3 {
        transform: translateY(4px);
    }

    .nav {
        transition: 0.3s ease;
        display: none;
        margin-left: 70%;
    }

    .nav ul {
        padding: 0 10px;
        margin-top: 120px;
    }

    .nav li {
        list-style: none;
        padding: 10px 0px 30px;
    }

    .nav li a {
        color: #333646;
        font-size: 15px;
        text-decoration: none;
        background-color: #ffc25c;
        padding: 10px 25px;
        border-radius: 8px;
    }

    #port {
        padding: 10px 17.5px;
    }

    #cont {
        padding: 10px 20.5px;
    }

    .nav li a:hover {
        font-weight: bold;
    }

    .menu-bg,
    #menu {
        top: 0;
        left: 0;
        position: absolute;
    }

    .menu-bg {
        z-index: 1;
        width: 0;
        height: 0;
        margin: 0 0 0 0;
        background: radial-gradient(circle, #DC052D, #DC052D);
        border-radius: 50%;
        transition: 0.3s ease;
    }

    .change {
        display: block;
    }

    .change .bar {
        background-color: #ffc25c;
    }

    .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }

    .change #bar2 {
        opacity: 0;
    }

    .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }

    .change-bg {
        width: 520px;
        height: 460px;
        transform: translate(-60%, -30%);
    }

    .hero {
        display: block;
    }

    .Oluwafemi {
        width: 100%;
        margin-top: 100px;
        display: block;
    }

    .oluwafemi {
        display: none;
    }

    #oluwafemi {
        width: 60%;
        height: 220px;
        margin-left: 20%;
        /* border: solid; */
        border-color: #ffe5b4;
        justify-self: center;
    }


    .myname {
        margin-top: 50px;
        letter-spacing: 2px;
        margin-left: 0px;
        text-align: center;
    }

    .h1 {
        margin-bottom: 10px;
        color: #ffffff;
    }

    .femi {
        margin-top: 0px;
        margin-bottom: 20px;
        font-family: 'Sofia', cursive;
        color: #ffc25c;
    }

    .prof {
        color: #ffffff;
        margin-bottom: 70px;
        line-height: 35px;
        margin-bottom: 25px;
    }

    .img_resume {
        width: 20%;
        margin-top: -6px;
        margin-right: 10%;
        margin-left: 40%;
        height: 25px;

    }

    .resume_button {
        margin-top: 0px;
        margin: auto;
        color: #ffc25c;
        text-decoration: none;
        background-color: #333646;
        border: solid 2px #ffc25c;
        border-radius: 15px;
        justify-self: center;
        width: 35%;
        height: 45px;
        margin-bottom: 20px;
    }

    .resume {
        text-align: center;
    }

    .divsideicons {
        background-color: #ffc25c;
        width: 18%;
        height: 50px;
        border-radius: 30px 0 0 30px;
        display: flex;
        justify-content: center;
        margin-left: 85%;
    }

    .sideicon {
        height: 35px;
        width: 80%;
        align-content: center;
        margin-top: 9px;
        margin-left: 15%;
    }

    .heroline {
        width: 100%;
        color: #ffa500;
        height: 10px;
    }

    .line_socials {
        display: none;
        width: 80%;
        margin-left: 25%;
        margin-right: 10%;
        /* padding: 10px 0px 10px 0px; */
        border-radius: 30px 0 0 30px;
        background-color: #ffc25c;
        padding-bottom: 0;
        margin-top: 0px;
    }

    .socials {
        display: flex;
        justify-content: space-evenly;
    }

    .socialicons {
        height: 35px;
        width: 100%;
        margin-top: 9px;
        margin-bottom: 9px;
    }

    hr {
        border-color: #ffa500;
        width: 100%;
    }

    .empty {
        margin-top: 50px;
    }

    .Aboutme {
        font-size: 20px;
        width: 98%;
        color: #ffe5b4;
        margin: auto;
        line-height: 30px;
        border-radius: 20px;
        padding-bottom: 50px;
        padding-top: 25px;
        background-color: #042467;
        margin-bottom: 50px;
    }

    .getoknow {
        margin-bottom: -25px;
        font-size: small;
        text-align: center;
        color: #ffe5b4;
    }

    .about_me {
        text-align: center;
        color: #ffa500;
    }

    .me {
        background-color: #1f4690;
        padding: 20px 20px 10px 20px;
        border-radius: 30px;
        text-align: justify;
        color: #ffe5b4;
        font-size: 80%;
        border-radius: 0%;
        width: 80%;
        margin: auto;
    }

    .Devtools {
        margin-top: 50px;
        width: 95%;
        margin: auto;
        background-color: #042467;
        border-radius: 15px;
        padding-top: 50px;
        padding-bottom: 30px;
        margin-bottom: 60px;
    }

    .dev {
        margin-bottom: -10px;
        text-align: center;
        color: #ffe5b4;
        font-size: small;
    }

    .frontend {
        background-color: #1f4690;
        padding: 15px 20px 20px 20px;
        border-radius: 15px;
        color: #ffe5b4;
        width: 75%;
        margin: auto;
    }

    .break {
        margin-top: 20px;
    }

    .skills {
        display: flex;
        justify-content: space-around;
    }

    .devlogo {
        width: 40px;
        height: 40px
    }

    .logotext {
        margin-bottom: -1.3px;
        color: #ffc25c;
        margin-top: -05px;
    }

    .Workspicture {
        max-width: 88%;
        height: 350px;
        margin-left: 6%;
        margin-right: 6%;
    }

    .Works_hover {
        display: none;
    }

    .sub_works {
        background-color: #1f4690;
        width: 90%;
        margin: auto;
        padding-top: 10%;
        margin-top: 30px;
        border-radius: 20px;
    }

    .work_button {
        height: 50px;
        width: 100px;
        margin-top: 15px;
        margin-left: 20px;
        background-color: #051434;
        color: #ffe5b4;
        /* border: #ffa500 solid 1px; */
    }

    .button_together {
        margin-left: 19px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:430px) {
    .img_resume {
        width: 20%;
        margin-top: -8px;
        margin-right: 10%;
        margin-left: 13%;
    }

    /* .resume_button {
        display: flex;
    } */

    .Aboutme {
        font-size: 20px;
        width: 98%;
        color: #ffe5b4;
        margin: auto;
        line-height: 30px;
        background-color: #042467;
        border-radius: 20px;
        padding-bottom: 50px;
        padding-top: 25px;
        margin-bottom: 50px;
    }

    .getoknow {
        margin-bottom: -25px;
        text-align: center;
        color: #ffe5b4;
        font-size: x-small;
    }

    .about_me {
        text-align: center;
        color: #ffa500;
    }

    .me {
        background-color: #1f4690;
        padding: 15px 20px 10px 20px;
        text-align: justify;
        color: #ffe5b4;
        font-size: 70%;
        border-radius: 0%;
        width: 80%;
        margin: auto;
    }

    .Devtools {
        width: 95%;
        margin: auto;
        background-color: #042467;
        border-radius: 15px;
        padding-top: 20px;
        padding-bottom: 30px;
        margin-bottom: 20px;

    }

    .dev {
        margin-bottom: -10px;
        text-align: center;
        color: #ffe5b4;
        font-size: x-small;
    }

    .frontend {
        background-color: #1f4690;
        padding: 15px 20px 20px 20px;
        border-radius: 15px;
        color: #ffe5b4;
        width: 75%;
        margin: auto;
    }

    .break {
        margin-top: 50px;
    }

    .skills {
        display: flex;
        justify-content: space-around;
    }

    .devlogo {
        width: 40px;
        height: 40px
    }

    .logotext {
        margin-bottom: -1.3px;
        color: #ffc25c;
        margin-top: -05px;
    }

    .Workspicture {
        width: 90%;
        height: 230px;
        margin-left: 6%;
        margin-right: 6%;
        margin-top: 10px;
    }

    .Works_hover {
        display: none;
    }

    .sub_works {
        background-color: #1f4690;
        width: 90%;
        margin: auto;
        padding-top: 10%;
        margin-top: 30px;
        border-radius: 20px;
        border: #ffa500 solid 0.1px;
    }

    .work_button {
        height: 25px;
        width: 68px;
        margin-top: 10px;
        margin-left: 10px;
        background-color: #042467;
        color: #ffe5b4;
        /* border: #ffa500 solid 1px; */
    }

    .button_together {
        margin-left: 10px;
        padding-bottom: 20px;
    }
}