@media screen and (max-width:799px) {
    .body {
        background-color: #252734;
    }

    .logonav {
        margin-left: 10px;
        margin-top: 20px;
        width: 30px;
        height: 20px;
    }

    .logo {
        margin-top: 10px;
        margin-left: 0px;
    }

    .navbar {
        display: none;
    }

    .hero {
        display: block;
        color: #ffffff;
    }

    .Oluwafemi {
        width: 100%;
        margin-top: 90px;
        display: block;
    }

    .oluwafemi {
        width: 50%;
        min-height: 200px;
        margin-left: 24.5%;
        border: solid;
        border-color: #c4c4c4;
        justify-self: center;

    }

    .myname {
        margin-top: 100px;
        letter-spacing: 3px;
        margin-left: 0px;
        text-align: center;
    }

    .hi {
        margin-bottom: 10px;
    }

    .femi {
        margin-top: 0px;
        margin-bottom: 50px;
    }

    .prof {
        margin-bottom: 70px;
        line-height: 35px;
    }

    .img_resume {
        width: 20%;
        margin-top: -6px;
        margin-right: 10%;
        margin-left: 40%;
        height: 25px;
    }

    .resume {
        display: block;
        margin-top: 0px;
        margin: auto;
        padding-right: 10%;
        padding-top: 18px;
        padding-bottom: 18px;
        color: #514949;
        text-decoration: none;
        background-color: #ffc25c;
        border: none;
        border-radius: 20px;
        justify-self: center;
        width: 27%;
        height: 45px;
    }

    .line {
        /* width: 1px;
        border-bottom: 340px solid #ffc25c;
        margin-left: 256px; */
        display: none;
    }

    .line_socials {
        display: block;
        margin-top: 100px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        padding: 20px 0px 20px 0px;
        border-radius: 30px;
        background-color: #8692ff;
    }

    .socials {
        display: flex;
        justify-content: space-evenly;
    }

    .socialicons {
        width: 100%;
        height: 30px;
        margin-bottom: 0px;
    }

    .empty {
        margin-top: 50px;
    }

    .Aboutme {
        font-size: 20px;
        width: 95%;
        color: #eaebec;
        margin: auto;
        line-height: 30px;
    }

    .me {
        background-color: #333646;
        padding: 40px 40px 40px 40px;
        border-radius: 30px;
        margin-top: 0px;
    }

    .getoknow {
        margin-bottom: -25px;
        text-align: center;
        color: #eaebec;
    }

    .Devtools {
        margin-top: 50px;
        width: 75%;
        margin: auto;
    }

    .dev {
        text-align: center;
        color: #ffc25c;
        margin-bottom: 50px;
        margin-top: 30px;
    }

    .frontend {
        background-color: #333646;
        padding: 15px 40px 20px 40px;
        border-radius: 15px;
        color: #eaebec;
    }

    .skills {
        display: flex;
        justify-content: space-around;
    }

    .devlogo {
        width: 40px;
        height: 40px
    }

    .logotext {
        margin-bottom: -1.3px;
        color: #ffc25c;
        margin-top: -05px;
    }
}

@media screen and (max-width:430px) {
    .img_resume {
        width: 20%;
        margin-top: -8px;
        margin-right: 10%;
        margin-left: 13%;
    }

    .resume {
        display: block;
        margin-top: 0px;
        margin: auto;
        padding-right: 3%;
        padding-top: 18px;
        padding-bottom: 18px;
        color: #514949;
        text-decoration: none;
        background-color: #ffc25c;
        border: none;
        border-radius: 20px;
        justify-self: center;
        width: 30%;
        height: 45px;
    }

    .Aboutme {
        font-size: 20px;
        width: 95%;
        color: #eaebec;
        margin: auto;
        line-height: 30px;
    }

    .me {
        background-color: #333646;
        padding: 40px 40px 20px 40px;
        border-radius: 30px;
        margin-top: 50px;
    }

    .getoknow {
        margin-bottom: -25px;
        text-align: center;
        color: #eaebec;
    }
}